### Imports

In [11]:
import os
import requests
import pandas as pd
from tqdm import tqdm
from PIL import Image
from io import BytesIO

### Constants

In [7]:
SUBMISSIONS_DATA = "../data/submissions.csv" 
COMMENTS_DATA = "../data/top_comments_10000_500.csv"

### Functions

In [ ]:
def

### Load Data

In [3]:
submissions = pd.read_csv(SUBMISSIONS_DATA)
print(submissions.shape)
submissions.head()

(318498, 13)

C:\Users\Rory\AppData\Local\Temp\ipykernel_11452\2384065944.py:1: DtypeWarning: Columns (0,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  submissions = pd.read_csv(SUBMISSIONS_DATA)

,name,author,title,created_utc,score,is_self,over_18,selftext,is_video,is_reddit_media_domain,is_gallery,domain,url
0,t3_33fxn6,[deleted],Do your worst!,1429678694,2,False,True,NaN,NaN,NaN,NaN,imgur.com,https://i.imgur.com/WuVB0FT.jpg
1,t3_33iz0o,SwagmasterEDP,do your worst!,1429740688,38,False,False,NaN,NaN,NaN,NaN,imgur.com,https://i.imgur.com/lg4GoAs.jpg
2,t3_33j2l2,[deleted],/u/Tyoko,1429742238,3,False,False,NaN,NaN,NaN,NaN,imgur.com,https://i.imgur.com/VJ2TVZC.jpg
3,t3_3bti9n,[deleted],Not saying if I'm the fish or the guy.,1435798027,209,False,False,NaN,NaN,NaN,NaN,i.imgur.com,http://i.imgur.com/zkjSV0D.jpg
4,t3_3btkg6,Tyrosoldier,roast me you betafucks,1435799165,16,False,False,NaN,NaN,NaN,NaN,i.imgur.com,http://i.imgur.com/bbqZD0B.jpg

In [4]:
comments = pd.read_csv(COMMENTS_DATA)
print(comments.shape)
comments.head()

(10000, 8)

,id,author,created_utc,parent_id,link_id,controversiality,is_submitter,body
0,cspcsxv,Tyrosoldier,1435798221,t3_3bti9n,t3_3bti9n,0,NaN,dis nigga look like the penguin
1,cspe2vi,SwagmasterEDP,1435800586,t3_3btn16,t3_3btn16,0,NaN,I think your barber already did.
2,cspewzn,annieareyouokayannie,1435802162,t3_3btmws,t3_3btmws,0,NaN,You look like the kind of guy I would have mad...
3,cspfv6y,sexual_pancakes,1435804002,t3_3btn16,t3_3btn16,0,NaN,Why you look like a cheap backstreet boy? \n\n...
4,cspgter,Bears54,1435805849,t3_3btvzx,t3_3btvzx,0,NaN,You doing the same expression her dad made whe...

### Download Image Data

In [ ]:
for _, comment in tqdm(comments.iterrows(), total=len(comments)):
    # Get post
    post = submissions[submissions.name == comment.parent_id].iloc[0]

    # Skip if already downloaded
    post_id = post["name"]
    file_name = f"../data/images/{post_id}.jpg"
    if os.path.isfile(file_name): continue
    
    # Download Image
    with open("../data/download_error_log.txt", "a") as log:
        try:
            response = requests.get(post.url)
            post_img = Image.open(BytesIO(response.content))
            post_img.save(file_name)
        except Exception as e:
            log.write(f"{post.url} - {e} \n")

  2%|████▍                                                                                                                                                                                                                               | 197/10000 [01:02<5:46:22,  2.12s/it]